$white: #fff;
$black: #111;

$font-family: 'Open Sans', sans-serif;

$default-space: 15px;

// Palette URL: http://paletton.com/#uid=23-0u0kFccSvg88DJ9VBOjtEyqu
$color-primary-0: #032343;
$color-primary-1: #04172A;
$color-primary-2: #031B33;
$color-primary-3: #063665;
$color-primary-4: #074989;

$color-complement-0: #673D00;
$color-complement-1: #412702;
$color-complement-2: #4F2F00;
$color-complement-3: #9B5C00;
$color-complement-4: #D37D00;
