#hints {
  background-color: $color-primary-0;
  padding: 25px 10px 10px 10px;
  position: relative;
  font-size: 12px;
  margin-bottom: $default-space;

  h2 {
    position: absolute;
    top: -0.75em;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }
}
