<div class="row">
  <div class="user u-pull-right">
    <% if user_signed_in? %>
      <%= current_user.gamertag %> - 
      <%= link_to(t('.logout'), sessions_url, method: :delete)  %>
    <% end %>
  </div>
  <div>
    <%= link_to(t('.home'), root_url)  %>
    <%= link_to(t('.groups'), groups_url)  %>
  </div>
</div>
